.App {  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

input{
  height: 50px;
  width: 400px;
  font-size: 45px;
  position:fixed;
}

.list-container{
  margin-top: 200px;
  position:fixed;
}